    <!-- Footer Strat -->
    <div class="footer-section">

        <!-- Footer Widget Section Strat -->
        <div class="footer-widget-section">
            <div class="container custom-container">
                <div class="row gy-6">
                    <div class="col-md-4">
                        <!-- Footer Widget Section Strat -->
                        <div class="footer-widget">
                            <div class="footer-widget__logo">
                                <a class="logo-dark" href="index.html"><img src="assets/images/gold_logo.jpg" width="90" alt="Logo"></a>
                                <a class="logo-white d-none" href="index.html"><img white="70" style="width: 70px !important; border-radius: 50%;" src="assets/images/gold_logo.jpg" alt="Logo"></a>
                            </div>
                            <div class="footer-widget__social">
                                <a href="https://www.facebook.com/xaribulbulchocolate"><i class="lastudioicon-b-facebook"></i></a>
                                <a href="https://wa.me/994515943952"><i class="lastudioicon-b-whatsapp"></i></a>
                                
                                <a href="https://www.instagram.com/kharybulbul.restaurants/"><i class="lastudioicon-b-instagram"></i></a>
                            </div>
                        </div>
                        <!-- Footer Widget Section End -->
                    </div>
                    <div class="col-md-8">
                        <!-- Footer Widget Wrapper Strat -->
                        <div class="footer-widget-wrapper d-flex flex-wrap gap-4">

                            <!-- Footer Widget Strat -->
                            <div class="footer-widget flex-grow-1">
                                <h4 class="footer-widget__title">Categories</h4>

                                <ul class="footer-widget__link">
                                    <li><a href="/category">Category</a></li>
                                    <li><a href="/gallery">Gallery</a></li>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/contact">Order Now</a></li>
                                </ul>
                            </div>
                            <!-- Footer Widget End -->

                            <!-- Footer Widget Strat -->
                            <div class="footer-widget flex-grow-1">
                                <h4 class="footer-widget__title">Services</h4>

                                <ul class="footer-widget__link">
                                    <li><a href="/interier">Lux Cafe</a></li>
                                    <li><a href="/category">Make Chocolates</a></li>
                                    <li><a href="/gallery">Different Chocolates</a></li>
                                </ul>
                            </div>
                            <!-- Footer Widget End -->

                            <!-- Footer Widget Strat -->
                            <div class="footer-widget flex-grow-1">
                                <h4 class="footer-widget__title">Information</h4>

                                <ul class="footer-widget__link">
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/conact">Contact Us</a></li>
                                </ul>
                            </div>
                            <!-- Footer Widget End -->

                        </div>
                        <!-- Footer Widget Wrapper End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Widget Section End -->

        <!-- Footer Copyright Strat -->
        <div class="footer-copyright footer-copyright-two">
            <div class="container">
                <!-- Footer Copyright Text Strat -->
                <div class="footer-copyright-text text-center">
                    <p>&copy; 2023 <strong> Kharybulbul </strong> Made with <i class="lastudioicon-heart-1"></i> by <a href="https://www.landmarklair.com">Inal Qaralı</a></p>
                </div>
                <!-- Footer Copyright Text End -->
            </div>
        </div>
        <!-- Footer Copyright End -->

    </div>
    <!-- Footer End -->
