
    <!-- Product Section End -->
    <div class="section-padding-01">

        <div class="container">
            <!-- Section Title Strat -->
            <div class="section-title text-center max-width-720 mx-auto">
                <h2 class="section-title__title">Şkoladlarımız</h2>
                <p>Xarı Bülbül</p>
            </div>
            <!-- Section Title End -->

            <!-- Product Tab Menu Strat -->
            <div class="product-tab-menu pb-8">
                <ul class="nav justify-content-center">
                    <li><button class="active" data-bs-toggle="tab" data-bs-target="#tab1">Hamısı</button></li>
                </ul>
            </div>
            <!-- Product Tab Menu End -->

            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab1">
                    <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1 mb-n50">
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge">Hot</div>
                                <div class="product-item__image border w-100">
                                    <a href="single-product.html"><img width="350" height="350" src="https://scontent.fgyd3-1.fna.fbcdn.net/v/t1.6435-9/82231231_179464850118914_8600213080099520512_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=9267fe&_nc_ohc=7jtRK03JJ5UAX_ovYd8&_nc_ht=scontent.fgyd3-1.fna&oh=00_AfA4Ed2-JxujSTFOYEL7yfXHNzpulNEQW5aFitXWAl9Jrg&oe=65326FCE" alt="Product"></a>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <a href="single-product.html"><img width="350" height="350" src="https://scontent.fgyd3-1.fna.fbcdn.net/v/t1.6435-9/80639759_170919894306743_1772751290477051904_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=9267fe&_nc_ohc=I0XSJ_2agmMAX-KNC-s&_nc_ht=scontent.fgyd3-1.fna&oh=00_AfD10f6-4LEV5RE5SPaVSEqxLjOgSekZ2111Yz127O7TAQ&oe=65329572" alt="Product"></a>
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <a href="single-product.html"><img width="350" height="350" src="https://scontent.fgyd3-1.fna.fbcdn.net/v/t1.6435-9/74483881_149266116472121_1980299473317789696_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=9267fe&_nc_ohc=XifENrtMriUAX-sHVP6&_nc_ht=scontent.fgyd3-1.fna&oh=00_AfDLHTn_GCRuNEo39eDsgeIv1ycrt78C41rPcvEUiO3Guw&oe=65326745" alt="Product"></a>
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <a href="/contact"><img width="350" height="350" src="https://scontent.fgyd3-1.fna.fbcdn.net/v/t1.6435-9/74955604_146746996724033_3980477378131394560_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=a26aad&_nc_ohc=dEpoqB35mdIAX9c0CbP&_nc_ht=scontent.fgyd3-1.fna&oh=00_AfAY6zlvtUy3fugMW47JZkVaQgWu7XLfruG-VccAxGy-7g&oe=6532982B" alt="Product"></a>
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">Hot</div>
                                <div class="product-item__image border w-100">
                                    <a href="/contact"><img width="350" height="350" src="https://scontent.fgyd3-1.fna.fbcdn.net/v/t1.6435-9/78286917_158667502198649_5344091050359128064_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=9267fe&_nc_ohc=mAMzGsZ2rBgAX9xZe0b&_nc_ht=scontent.fgyd3-1.fna&oh=00_AfDWktwA-nB0N6LponJJ7YQZd2OWmYAN08Br-VO2xpH5Ig&oe=65328144" alt="Product"></a>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <a href="/contact"><img width="350" height="350" src="https://scontent.fgyd3-1.fna.fbcdn.net/v/t1.6435-9/89074543_222348512497214_8122906827554816000_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=9267fe&_nc_ohc=M6u9BjbeRM8AX_Nlq7P&_nc_ht=scontent.fgyd3-1.fna&oh=00_AfAkp5Zdj4jYtJXc7dnmQbJtDLe5UYz-sf4ZO6XU-3cM-Q&oe=6532893C" alt="Product"></a>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge">Hot</div>
                                <div class="product-item__image border w-100">
                                    <a href="/contact"><img width="350" height="350" src="https://scontent.fgyd3-1.fna.fbcdn.net/v/t1.6435-9/81516924_180702486661817_6517463217839538176_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=9267fe&_nc_ohc=c2qjENJvE_AAX_bgHG1&_nc_ht=scontent.fgyd3-1.fna&oh=00_AfDD8GpM-d4UMi7gBR3pIU155hkwrEIGT_OvQ4VMffVMrg&oe=65328C36" alt="Product"></a>
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <a href="/contact"><img width="350" height="350" src="https://scontent.fgyd3-1.fna.fbcdn.net/v/t1.6435-9/74667928_146746956724037_5007618381768032256_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=a26aad&_nc_ohc=dov6AGkR96sAX_REdhQ&_nc_ht=scontent.fgyd3-1.fna&oh=00_AfC5R311Jb7iIbxIHcSpeV9gE2l_VKWEWZOe7-nFjqKvkg&oe=65327EAA" alt="Product"></a>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- Product Section End -->