<!DOCTYPE html>

<html class="no-js" lang="en">

<head>
<%-include('./inc/libcss.ejs')%>

</head>

<body>
<%-include('./inc/nav.ejs')%>

    <!-- Breadcrumb Section Start -->
    <div class="breadcrumb" data-bg-image="https://images.unsplash.com/photo-1453614512568-c4024d13c247?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <h1 class="breadcrumb_title">Kharybulbul Interier</h1>
                        <ul class="breadcrumb_list">
                            <li><a href="/">Home</a></li>
                            <li>Chocolate House Interier</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Start -->
    <div class="shop-product-section sidebar-left overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-12 section-padding-04">
                    <!-- Shop Top Bar Start -->
                    <div class="shop-topbar">

                        <div class="shop-topbar-item shop-topbar-left">
                            <p>Showing 1 - 12 of 25 result</p>
                        </div>

                        <div class="shop-topbar-right">
                            <div class="shop-topbar-item">
                                <select name="SortBy" id="SortBy">
                                    <option value="manual">Sort by Rated</option>
                                    <option value="best-selling">Sort by Latest</option>
                                    <option value="price-ascending">Price ↑</option>
                                    <option value="price-descending">Price ↓</option>
                                </select>
                            </div>

                            <div class="shop-topbar-item">
                                <select name="paginateBy" id="paginateBy">
                                    <option value="3">Show 3</option>
                                    <option value="4">Show 4</option>
                                    <option value="5">Show 5</option>
                                    <option value="6">Show 6</option>
                                    <option value="7">Show 7</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <!-- Shop Top Bar End -->
                    <!-- Product Section Start -->
                    <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 row-cols-1 mb-n50">
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__image border w-100">
                                    <img width="350" height="350" src="https://scontent.fgyd3-1.fna.fbcdn.net/v/t1.6435-9/71667822_126341498764583_2290665724366028800_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=a26aad&_nc_ohc=iZaAu2zL1rsAX8g1nNE&_nc_ht=scontent.fgyd3-1.fna&oh=00_AfDEh11e9Mbju962dE6yxZB35q1Yb-WewkSGQsQ2ICxWUg&oe=65327EC3" alt="Product">
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <img width="350" height="350" src="https://scontent.fgyd3-1.fna.fbcdn.net/v/t1.6435-9/71801135_126341418764591_2867108283187986432_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=a26aad&_nc_ohc=Xus9doofl9IAX9v9che&_nc_ht=scontent.fgyd3-1.fna&oh=00_AfDCAX9GMFdJfbtkiD6-bFAXoD--zzB3BEqyuhRdCR3_bQ&oe=65326875" alt="Product">
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                      
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                  <img width="350" height="350" src="https://scontent.fgyd3-1.fna.fbcdn.net/v/t1.6435-9/86437798_209274637137935_8995859102265507840_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=9267fe&_nc_ohc=dwCvuR4O2-QAX9HWyKS&_nc_ht=scontent.fgyd3-1.fna&oh=00_AfCzWd2PuhzDVuIFBnGijRYRyUJaGuesUWWvvi1muRvGFQ&oe=6532814C" alt="Product">
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>

                    </div>
                    <!-- Product Section End -->
                    <!-- Shop bottom Bar Start -->
                    <div class="shop-bottombar">
                        <ul class="pagination">
                            <li class="disabled"><a href="#prev">←</a></li>
                            <li><a class="active" href="#page=1">1</a></li>
                            <li><a href="#page=2">2</a></li>
                            <li><a href="#page=3">3</a></li>
                            <li><a href="#page=4">4</a></li>
                            <li><a href="#page=5">5</a></li>
                            <li><a href="#next">→</a></li>
                        </ul>
                    </div>
                    <!-- Shop bottom Bar End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Product Section End -->

    <!-- Scroll Top Start -->
    <a href="#/" class="scroll-top" id="scroll-top">
        <i class="lastudioicon-up-arrow"></i>
    </a>
    <!-- Scroll Top End -->

    <div class="bg-dark-four dark-footer">
 <%-include('./inc/footer.ejs')%>
    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
<%-include('./inc/libscript.ejs')%>
    <!-- Activation JS -->
    <script src="assets/js/main.js"></script>

</body>

</html>